* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
/* button {
  width: 6rem;
  height: 3rem;
  border-radius: 30px;
  border: none;
  color: rgb(34, 45, 65);
  font-size: large;
  box-shadow: 2px 2px 10px rgb(34, 45, 65);
  transition: transform 2s linear;
  position: relative;
}
button:hover {
  transform: rotatex(180deg);
  position: absolute;
} */
/* .parent {
  width: 100px;

  border-radius: 15px;
  text-align: center;
  font-size: x-large;
}
.parent .front,
.back {
  position: absolute;
  width: 100px;
  padding: 1rem;
  backface-visibility: hidden;
  border-radius: 15px;

  transition: transform 1s linear;
}
.parent .front {
  background-color: white;
  transform: perspective(600px) rotatey(0deg);
}
.parent .back {
  backface-visibility: hidden;
  background-color: green;
  transform: perspective(600px) rotatey(180deg);
}
.parent .front:hover {
  transform: perspective(600px) rotatey(-180deg);
  cursor: pointer;
}
.parent .back:hover {
  transform: perspective(600px) rotatey(0deg);
} */
.frame {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #d0badd;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px black;
  color: white;
  font-family: sans-serif;
  perspective: 150px;
}
.button {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 175px;
  left: 150px;
  border-radius: 25px;
  text-align: center;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: 600;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 4px 8px 12px 0 rgb(0 0 0 / 10%);
}
.button .front,
.button .back {
  box-sizing: border-box;
  position: absolute;
  display: block;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #7c4d99;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0);
}
.button .back {
  z-index: 1;
  color: #fff;
  background: #3dc252;
  border: 2px solid #fff;
  transform: rotateX(180deg);
}
.checkbox:checked ~ .button {
  transform: rotatex(180deg);
}
.checkbox {
  display: none;
}
